* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font-family: 'Poppins', sans-serif;*/
body {
    background-color: #23262d;
    font-family: 'Roboto', sans-serif;
    color: #fff
}

.container {
    margin: 0 auto;
    padding: 0 90px;
}

#header {
    padding-top: 30px;
    margin-bottom: 20px;
}

.header-nav {
    padding: 10px 0;
}

.header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#check {
    display: none;
}

.header-nav__item:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
}

.logo {
    width: 111px;
}

.header-nav__item a {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-right: 20px;
}



label #open {
    position: absolute;
    font-size: 20px;
    top: 48px;
    right: 90px;
}

label #close {
    display: none;
    position: absolute;
    font-size: 20px;
    transition: .5s;
    top: 48px;
    right: 90px;
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    display: flex;
    height: 100vh;
    line-height: 40px;
    z-index: 200;
    background-color: #23262d;
    transition: all .5s;
}

.link {
    width: 50%;
    padding: 77px;
}

#check:checked~label #close {
    display: block;
    z-index: 201;
}

#check:checked~label #open {
    display: none;
    transition: .5s;
}

#check:checked~.menu {
    right: 0;
}

.menu-bg {
    width: 50%;
    background-image: url("../img/architecture-menu-img.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.link-item1 li a {
    color: #fff;
    font-size: 44px;
    line-height: 50px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
}

.link-item1 li a::after {
    content: '';
    transform: scaleX(0);
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.5);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.link-item1 li a:hover {
    color: rgb(255, 255, 255, 0.5);
}

.link-item1 li a:hover::after {
    transform: scaleX(1);
}

.link-item1>li:not(:last-child) {
    margin-bottom: 25px;
}

.link-item1 {
    margin-bottom: 130px;
}

.link-item2 li a {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
}

.link-item2 li a:hover {
    color: rgb(255, 255, 255, 0.5);
}

.link-item2 li a i.fa-brands {
    color: #fff;
}

.link-item2 li a:hover i.fa-brands {
    color: rgb(255, 255, 255, 0.5);
}

.link-item2 li {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.fa-brands {
    color: rgb(255, 255, 255, 0.5);
    padding-right: 15px;
}

.projects {
    height: 738px;
    position: relative;

}

.projects .projects-item:nth-child(1) {
    z-index: 102;
}

.projects .projects-item:nth-child(2) {
    z-index: 101;
}

.projects .projects-item:nth-child(3) {
    z-index: 100;
}

.projects-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.projects-item img {
    width: 100%;
    height: 100%;
}

.project-info {
    display: flex;
    position: absolute;
    top: 350px;
    left: 500px;
}

.project-info h2 {
    font-size: 74px;
    font-weight: 600;
    line-height: 74px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.project-info a {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.project-number {
    width: 130px;
    height: 250px;
    padding-top: 30px;
    margin-right: 60px;
    background-color: #cee002;
    font-size: 88px;
    line-height: 66px;
    font-weight: 600;
    color: #23262d;
}

.project-button {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

.right-arrow,
.left-arrow {
    cursor: pointer;
    padding: 30px;
    z-index: 150;
}

.right-arrow {
    background-color: #292b30;
}

.right-arrow:hover {
    background-color: #23262d;
}

.left-arrow {
    background-color: #23262d;
}

.fa-arrow-left,
.fa-arrow-right {
    color: #fff;
}

@media only screen and (max-width:992px) {

    .container {
        padding: 0;
    }

    .project-number {
        display: none;
    }

    .project-info {
        top: 220px;
        left: 120px;
    }



    .menu-bg {
        display: none;
    }

    label #close,
    label #open {
        right: 15px;
    }

    .menu {
        width: 40%;
    }

    .link {
        width: 100%;
        padding: 78px 30px;
    }

    .link-item1 li a {
        font-size: 18px;
        line-height: 10px;
    }

    .link-item2 li a {
        font-size: 11px;
    }
}

@media only screen and (max-width:768px) {
    #header {
        padding-top: 10px;
        margin-bottom: 5px;
    }

    label #close,
    label #open {
        top: 28px;
    }

    .header-nav__item a.call {
        display: none;
    }

    .menu {
        width: 60%;
    }

    .projects-item img {
        height: 70%;
    }

    .project-button {
        bottom: 220px;
    }

    .project-info {
        text-align: center;
        left: 100px;
    }

    .project-info h2 {
        font-size: 44px;
        line-height: 34px;
    }
}